.idea/
*.pyc
*.pyx
.vscode/
venv/
dumps/
__pycache__/
services/__pycache__/
services/admin/__pycache__/
services/api/__pycache__/
services/core/__pycache__/
services/telegram/__pycache__/
services/telegram/sessions/*
services/telegram/config.json
1-data/
frontend/node_modules/
static/
node_modules/
supervisord.log
supervisord.pid
aerich.ini
migrations/
unknown_errors.txt

frontend/*.DS_Store
frontend/*.log

frontend/*.zip

frontend/.sass-cache

frontend/.idea
frontend/nbproject
frontend/nbproject/private
frontend/.vscode/
frontend/.vs/

frontend/bower_components/

frontend/plugins/*/*.md
frontend/plugins/*/*.html
frontend/plugins/*/package.json

frontend/Gemfile.lock
frontend/docs/_site
frontend/docs_html/
frontend/.jekyll-cache/
frontend/.jekyll-metadata

TODO
frontend/test.html
frontend/ad.js
